{{> flash}}

<h2>System Devices</h2>

<table>
	<tr class="trh">
		<td>Name</td>
		<td>Device Type</td>
		<td>Use as Trigger</td>
		<td>Trigger Value</td>
		<td>Current Value</td>
	</tr>

	<tr>
		<td>Front Door</td>
		<td>Device Type</td>
		<td>Use as Trigger</td>
		<td>Trigger Value</td>
		<td>Off</td>
	</tr>

	<tr>
		<td>Front Door</td>
		<td>Device Type</td>
		<td>Use as Trigger</td>
		<td>Trigger Value</td>
		<td>Off</td>
	</tr>

</table>
