<!DOCTYPE html>
<html>
  <head>
    <title>RAVEN</title>
    <meta name="csrf-token" content="{{_csrf}}" />
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  
  <body>
	{{> header}}

	{{> flash}}

	{{#if user}}
		<div style="text-align: center;">Hello, {{user.email}}</div>
	{{/if}}

	{{{body}}}

	{{> footer}}
  </body>
</html>