<h1>NEWSLETTER</h1>

<h2><Sign up for our newsletter./h2>
<form class="newsletter-form" action="/process?form=newsletter" method="POST">
	<input type="hidden" name="_csrf" value="{{_csrf}}">
	<label>Name</label>
	<div>
		<input type="text" name="name">
	</div>
	<label>Email</label>
	<div>
		<input type="text" name="email">
	</div>
	<input type="submit" name="Go" value="Go">
</form>

